/*  Author: Tyler Mooney
    Date: June 25th

    Note: I changed the font to something as close to the
    google product sans font

    TODO:
    - Change the apps icon to be gray until hovered over
    - Add hover effect to search form and buttons
    - Make it so font and size of text in search form is uniform with website
*/

li {
    float: left;
}

li a, li img, li div{
    display: block;
    text-align: center;
    padding: 14px 14px;
}

li a {
    padding-top: 20px;
}

li div {
    padding-top: 10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: -apple-system, 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 14px;
}

header li a {
    color: #222;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    font-family: -apple-system, 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 14px;
}

footer li a {
    color: #70757a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    margin-top: 300px;
    margin-bottom: 20px;
}

/*The padding will make the search form a bit longer, so be
sure to adjust the width accordingly
Useful link: https://www.mikedane.com/web-development/css/styling-search-bar/*/
.search-form {
    height: 2.5rem;
    width: 30rem;
    border-width: 1px;
    border-radius: 20px;
    border-color: lightgray;
    border-style: solid;
    padding-left: 50px;
    padding-right: 55px;
}

.search-icon {
    height: 24px;
    width: 24px;
    position:absolute;
    top: 10px;
}

.mic-icon {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 8px;
}

/*You'll have to use this to have the icons use a hover effect
with the search form*/
.search-form:hover{
    
}

/*We set the border to be transparent that way when you hover
over button and the border does appear, the elements don't move
Useful Link: https://stackoverflow.com/questions/9612758/add-a-css-border-on-hover-without-moving-the-element*/
.button {
    background-color: #f8f9fa;
    color:#3c4043;
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 7px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0.5px solid transparent;
    font-size: 14px;
    font-family: -apple-system, 'Roboto', sans-serif;
}

.button:hover {
    border: 0.5px solid #b8bec4;
    background-color: white;
    background-image: linear-gradient(to bottom, white 0%, #f8f9fa 51%);
    cursor: pointer;
}

/*I originally tried the grayscale, but that didn't work because
the images were black. Therefore this will only turn black images gray
Useful link: https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css*/
.grayscale {
    filter: invert(45%);
}

#sign-in-button {
    background-color:#4585f4;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 14px;
    font-family: -apple-system, 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

/* 
The hover of the sign in button only affects the bottom
and I can't figure out what color it is. For now I'll leave this
code as is. It could be that I'm not supposed to use box-shadow
Maybe using border-bottom would work*/
#sign-in-button:hover {
    box-shadow: 0px 0px 5px 0px lightgray;
}

#left-block {
    float: left;
    margin-left: 2.5%;
}

#right-block {
    float: right;
    margin-right: 7.5%;
}