/*  Author: Tyler Mooney
    Date: June 25th
*/

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

header li a {
    color: #222;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

footer li a {
    color: #70757a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 100px;
    margin-bottom: 20px;
}

.search-form {

}

.button {
    background-color: #f8f9fa;
    color:#3c4043;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
}